@import "scss/bootstrap";

body {
	font-family:"PT Sans";
	background:#fff;
}

#site-header { 
	
	transition: background 0.45s ease-in-out;
	height:300px;
	position:relative;

	&.active
	{
		background:url('../../images/cloud9.jpg') 0 -200px;
		background-size:cover;
	}

	&.active::after {  z-index:1; top:0; left:0; content:''; position:absolute; width:100%; height:100%; background-image:linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(246,246,246,0.53) 53%, rgba(255,255,255,1) 100%); }

}

a { 
	color:#666; 
	transition: color 0.25s ease; 
	&:hover, &:focus { color:#e0474c; text-decoration:none; }
}

.logo {
	z-index:4;
	transition: all 0.25s ease; 
	text-align:center; 
	position:absolute; 
	margin-left: auto; 
	margin-right: auto; 
	left: 0; 
	right: 0; 
	top:30%;
	width:350px; 
	font-family:'Pacifico', serif; 
	font-size:3rem; 
	color:#f95c3d;

	&:hover,&:focus { text-decoration:none; color:#000 }

}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767px) { 
	#site-header { background-position:0 0px; }
}


.navbar {
	position:absolute;
	width:100%;
	bottom:0;
	left:0;
	border-radius:0;
	border-top:1px solid #eee;
	/*background: rgba(230,57,70,0.5);*/
	z-index:3;
	margin-top:0.5em;
	text-align:center;
	transition: all 0.3s ease; 
}

.navbar.fixed
{ 
	margin:0;
	position:fixed;
	top:0;
	height:3.25rem;
	z-index:10;
	border-top:none; 
	background: rgba(255,255,255,1);
	border-bottom:1px solid #eee;
	box-shadow: 0px 3px 2px 0px rgba(0,0,0,0.15);
}

.navbar.supportbg { background: rgba(0, 0, 0, .1); }

.navbar .navbar-nav { 
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar .navbar-nav .nav-item { 
	.nav-link { 
		color:#555; text-transform:uppercase; font-size:0.9rem; font-weight:700; letter-spacing:0.1rem;
		&:hover { color:#f95c3d }
	}
}

/* Extra small devices (portrait phones, less than 544px) */
@media (max-width: 543px) { 

	

}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767px) { 
	.navbar  { 
		z-index:5;
		top:0;
		margin:0;
		padding:0;
		border-top:none;
		border-bottom:1px solid rgba(255,255,255,0.2);
		text-align:left; 

		.navbar-toggler { color:#e0474c; position:absolute; top:0.5rem; right:0.5rem; z-index:10 }
		#topnav {  z-index:5; background:#000; padding:0 1rem; position:absolute; top:0; width:100%; }
	}
}


#page-container { margin-top:3rem; }

.mpost { 
	
	& + .post { margin-top:5rem; }
	a { transition: color 0.3s ease 0s; }

	.post-header { 
		h2 { text-align:center; text-transform:uppercase; font-size:2.6rem; font-weight:700; }
		h2 a { color:#111 }
		h2 a:hover { text-decoration:none; color:#333 }
	}

	.post-meta { 
		text-align:center;
		color:#aaa;
		font-size: 0.8rem;
		letter-spacing:1px;
		text-transform:uppercase;  
		a { color:#888 }
	}

	.post-body { 
		margin:1.5rem 0; 
		::-moz-selection { background: #7acfd6; color:#fff }
		::selection { background: #7acfd6; color:#fff }
		.img-fluid + p { margin-top:1.5rem; }
	}

	&.search-post
	{
		.post-header h2, .post-meta { text-align:left; }
	}
}

#page-container + #secondary-nav { margin-top:2rem; }
#secondary-nav 
{ 
	background:#eee; 
	padding:1.5rem 0; 
	font-size:0.9rem; 

	 h4.title { font-weight:700; text-transform:uppercase; font-size:0.8rem; color:#555; }
	 .social-list .list-inline-item a { color:#ccc; font-size:1.2rem; 
	 	&:hover { color:#aaa }
	 }
}

/* UTILITIES */
#content { min-height:50vh }

.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
}

.tags .tag a, .categories .tag a { color:#fff }

.page-header h1, .page-header h2 { font-weight:700 }

/* COMMENTS */
#comments-section { background:#f6f6f6; margin:0; }
#comments-section #comments { padding:2.2rem 0}
#reply-title { font-weight:700; }
.required { color:red; }



/* navigation */
.navigation { margin:2.5rem 0;}
.navigation .nav-links { overflow:hidden; }
.navigation .nav-links .nav-previous { float:left; }
.navigation .nav-links .nav-next { float:right; }
.navigation .nav-links .nav-previous::before { font-family:"Ionicons"; content:"\f107"; font-size:1rem; color:#ccc; margin-right:0.5rem; }
.navigation .nav-links .nav-next::after { font-family:"Ionicons"; content:"\f10a"; font-size:1rem; color:#ccc; margin-left:0.5rem; }

/* midline */
.separator {
    overflow: hidden;
    text-align: center;
}
.separator:before,
.separator:after {
    background-color: #ccc;
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 50%;
}
.separator:before {
    right: 0.5em;
    margin-left: -50%;
}
.separator:after {
    left: 0.5em;
    margin-right: -50%;
}

.page-header { text-align:center; border:1px solid #eee; padding:0.6rem 1.2rem; margin-bottom:2rem; }
.page-header h3 { font-size:1.6rem; font-weight:400; color:#666; }